<mat-action-list>
    <mat-list>
        <mat-list-item>
            <span matListItemTitle>5th May 2023</span>
            <span matListItemLine>Delivery</span>
            <span matListItemLine>Totals</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span matListItemTitle>5th May 2023</span>
            <span matListItemLine>Delivery</span>
            <span matListItemLine>Totals</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span matListItemTitle>5th May 2023</span>
            <span matListItemLine>Delivery</span>
            <span matListItemLine>Totals</span>
        </mat-list-item>
    </mat-list>
</mat-action-list>