<mat-action-list>
    <mat-list>
        <mat-list-item>
            <span matListItemTitle>Pepperoni Pizza</span>
            <span matListItemLine>Mama Mia Pizzeria</span>
            <button mat-raised-button color="primary">Order again!!!</button>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Pepperoni Pizza</span>
            <span matListItemLine>Mama Mia Pizzeria</span>
            <button mat-raised-button color="primary">Order again!!!</button>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Pepperoni Pizza</span>
            <span matListItemLine>Mama Mia Pizzeria</span>
            <button mat-raised-button color="primary">Order again!!!</button>
        </mat-list-item>
    </mat-list>
</mat-action-list>