<mat-action-list>
    <mat-list>
        <mat-list-item>
            <span matListItemTitle>Pepperoni Pizza</span>
            <span matListItemLine>Mama Mia Pizzeria</span>
            <button mat-raised-button color="primary">Order again!!!</button>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Pepperoni Pizza</span>
            <span matListItemLine>Mama Mia Pizzeria</span>
            <button mat-raised-button color="primary">Order again!!!</button>
        </mat-list-item>
        <mat-list-item>
            <span matListItemTitle>Pepperoni Pizza</span>
            <span matListItemLine>Mama Mia Pizzeria</span>
            <button mat-raised-button color="primary">Order again!!!</button>
        </mat-list-item>
        <!-- <mat-list-item>
            <span matListItemTitle>Pepperoni Pizza</span>
            <span matListItemLine>Mama Mia Pizzeria</span>
            <mat-card-actions>
                <button mat-button>Order again!!!</button>
            </mat-card-actions>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span matListItemTitle>Pepperoni Pizza</span>
            <span matListItemLine>Mama Mia Pizzeria</span>
            <mat-card-actions>
                <button mat-button>Order again!!!</button>
            </mat-card-actions>
        </mat-list-item> -->
    </mat-list>
</mat-action-list>