.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  margin-inline: 5px;
}

@media only screen and (min-width: 1080px) {
  .grid-container {
    margin: unset;
  }

  .dashboard-card {
    left: 1px;
    right: 1px;
  }
}


.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
}