.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  display: none;

  .mat-toolbar {
    background: inherit;

    .mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

.logo-header-part1 {
  font-weight: 600;
}

.logo-header-part2 {
  font-weight: 600;
}

@media only screen and (min-width: 1080px) {
  .navbar-contents {
    width: 1080px;
    margin: 0 auto;
  }
}