.right-col {
    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .2em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }
}

@media only screen and (min-width: 1080px) {

    section {
        padding: 0em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: right;

        .right-col {
            margin: 13em 12em 0 -4em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-img {
        width: 143vh;
        padding-block-start: 5vh;
    }
}