<section class="hero">
    <div class="container">
        <img [src]="imageUrl" alt="My Image" class="hero-img">
        <div class="right-col">
            <p class="subhead">Order now &amp; enjoy the convenience of SpeedyDine.</p>
            <h1>SpeedyDine</h1>
            <div class="hero-cta">
                <a routerLink="profile" class="primary-cta">
                    <button mat-flat-button color="primary">
                        Try SpeedyDine now!
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>